html {
    scroll-behavior: smooth; /* smooth scrooling to bookmarks */
}

body {
    margin: 0%; /* no splace r or l, width is full screen*/
    opacity: 1; /* used with transition effect */
    transition: 3s opacity; /* full opacity in 3s */
    letter-spacing: .2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1; /*opacity at the start of loading web page */
    transition: none;
}

p {
    font-family: Perpetua, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    letter-spacing: .1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: justify;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    margin-top: 3%;
    text-align: center;
    color: #1a1a1a;
}
h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}
/* center align elements */
center {
    font-family: Perpetua, Rockwell Extra Bold;
    font-size: 1.5vw;
    letter-spacing:.1vw;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
/******************************** Navigation **********************************/
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* keeps the navbar at the top of the screen (sticky) as we scroll */
    top: 0; /* no space above the navbar */
    width: 100%; /* full screen */
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}
@keyframes movNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.Navbar a{ /* element inside a class */
    float: left; /* text floats on the left in navbar */
    display: block;
    color: white;
    padding: .75vw 1vw; /*adds padding around text in navbar */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center; /*centers the text within its container */
    position: relative;
    -webkit-animation: movenavText 5.75s; /*webkit: browser rendering engine, CSS syntax */
    letter-spacing: .2vw;
}

@keyframes movenavText { /*@keyframes rule specifies the animation code */
    from {top: -100vw;}
    to {top: 0vw;}
}

Navbar a.active {
    background-color: darkgray; /* background-color behind home button on navbar */
}
Navbar a.hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-animation-duration: 1s;
    transition-duration: 1s;
}
/* The animation effect for moving the nav bar in from above the top of the screen upon pg load*/
@keyframes movNav {
    from {left: -100vw;}
    to {left: 0vw;}
}
@keyframes movenavText { /*@keyframes rule specifies the animation code */
    from {top: -100vw;}
    to {top: 0vw;}
}
/****************************** Video *************************************/
#Typing_Video {
    position: fixed;
    right: 0;
    bottom:0;
    min-height: 100%;
    top: 0;
    z-index: -1;
    animation: zomminoutsinglefeatured 5s;
}

/* video zooms out from a zoomed in position upon page load*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5); /* in 2D */
    }
    100% {
        transform: scale(1,1)
    }
}

.Video_Text {
    background: rgba(0,0,0,0.5); /*semi-transparent background for the text to sit over*/
    color: white;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

/************************************ Slideshow Styling ***********************/
img {
    filter: grayscale(75%);/*this rids pictures of 75% of their color */
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: block; /* this allows our images to be centered */
}

#Slideshow_Background {
    background: rgba(255,255,255,0.35);/*slightly transparent white background to that's placed over the video*/
}
#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}
/* 1/6, 2/6 etc.: hidden at first */
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.mySlides {
    display: none;
}
.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    width: auto;
    box-shadow: 0px, 5px, 10px, 12px, rgba(0,0,0,.75);
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    font-weight: bold;
    /*font-size: 
    border-radius:
    user-select:
    transition: */
}
.Next {
    right: 0;
    /*border-radius: */
}
.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    border-radius: 7px 7px 7px 7px;
    background-color: rgba(0,0,0,.75);
    font-weight: bold;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}
.active, .dot:hover {
    background-color: black;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1} 
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5;
    animation-name: fade;
    animation-duration: 1.5s;
}
/******************************* Table styling *******************************/
* { /*applies to all elements on this page */
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding:1.6%;
    background-color: #f2f2f2;
    height: 448px;
}
.Column_2 {
    float:left;
    width:50%;
    padding: 1.6%;
    height:448px;
    background-color: #4d4d4d;
}

.Row:after { /*This inserts somethign after the content of selected elements */
    content: "";/* removing this makes the footer overwrite a column */
    display: table;/* treat the element as a table */
    clear: both;/* This clears any other elements from floating on the left or right of an element*/
}

h1 {
    text-transform: uppercase; /*all headings capitalized */
    color: #1a1a1a;
    /*font-family:
    text-align: 
    margin-top:*/
}
h1:hover {
    color: black;
    font-weight: normal;
}

p {
    /*font-family:
    font-size:
    letter-spacing:
    text-align:
    padding-left:
    padding-right:*/
}

/*this embraces all centered text */
center {/*
    font-family:
    font-size:
    letter-spacing:
    text-align:
    padding-left:
    padding-right:*/
}
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

a {
    color: blue;
}

q {
    /*font-style:
    font-weight:*/
}

img:hover {
    filter: grayscale(5%); /*Brings back most of the images color on hovering*/
    transition: transform 1s;
    transform: scale(1.1);
}

/******************************** Contact Form styling ************************/
.Pop_Up_Button {
    background-color: white;
    color: black;
    cursor: pointer;
    position: fixed;
    width: 25vw;
    bottom:1.75vw;
    right:1.75vw;
    border: solid;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}
.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}
.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
    background:Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    width: 100%;
}

/*Submit button*/
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}
 /* All buttons */
button {
    font-size: 1.5vw;
    letter-spacing: .3vw;
    font-weight: bold;
    border-style: solid;
    padding: 1.5vw 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    border-color: silver;
    border-style: solid;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.form-container .cancel:hover {
    color: white;
    background-color: dark-red;
    border-style: solid;
    border-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
/************************ Footer element *************************************/
footer {
    background-color: white;
    padding: 2%;
}






